@model EditProductViewModels
@{
    ViewBag.Title = "Edit";
    
}

    <div class="container">
        <h2>Edit Product</h2>
        <hr />
        <form id="editProduct">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control" name="CategoryId">
                            @foreach (var category in Model.AvailableCategories)
                            {
                                var selected = category.Id == Model.CategoryId ? "selected" : string.Empty;
                                <option value="@category.Id" @selected> @category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="Name" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" name="Description" value="@Model.Description" />
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" name="Price" value="@Model.Price" />
                    </div>

                    <button class="form-control btn btn-danger" type="button" id="updateBtn">Update</button>

                </div>
            </div>
        </form>  
    </div>


<script>
    $("#updateBtn").click(function () {
        $.ajax({
            type: "Post",
            url: "/Product/Edit",
            data: $("#editProduct").serialize()
        })
            .done(function (resposen) {
                $("#tableContiner").html(resposen);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>